{% extends 'base/base.html' %}
{% block title %}Welcome to Converge{% endblock %}

{% block body_block %}
<h1 align="center">Logged out</h1>

{% load static %}


<!-- change image to something more relevant -->
<h2> Trinity College Dublin's in house meeting scheduling service </h2>
<h3 align="center"> Services Include: </h3>
<h4 align="center"> Anoymous Voting</h4>
<h4 align="center"> Poll voting and creation without registration</h4>
<h4 align="center">  </h4>

 
<center><img class="home_page_image"  src="{% static "poll/timetable.png" %}" alt="homepage_image" /></center>
<p1> </p>
<h1 class = "home_page_heading">By Trinity , For Trinity ©</h1>

</html>
{% endblock %}

